{% extends "userac/base.html" %}
{% load static %}
{% block title %}Raj Mazumder{% endblock title %}
{% block body %}
    <main id="main">
        <nav>
            <h1 class="logo"><a href="{% url 'userac:index' %}">Social Network</a></h1>
            <form action="{% url 'userac:searchuser' %}" method="POST" id="searchbox">
                {% csrf_token %}
                <input type="search" name="username" id="searchuser">
                <input type="submit" value="Search">
            </form>
            <ul class="nav-links">
                <li><a href="{% url 'userac:index' %}"><i class="fas fa-home"></i></a></li>
                <li><a href="#"><i class="fas fa-heart"></i></a></li>
                <li class="dropdown-icon"><i class="fas fa-user-alt"></i></li>
                <ul id="dropdown">
                    <li><a href="{% url 'userac:user_profile' request.user %}"><i class="fas fa-user-alt"></i> Profile</a></li>
                    <li class="last"><a href="{% url 'userac:user_logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                </ul>
            </ul>
        </nav>
        <section class="profilecontent">
            <div class="profilepic">
                {% if profile.userimg %}
                    <img src="{{ profile.userimg.url }}" alt="Profile Image">
                {% else %}
                    <img src="{% static 'userac/images/profile.png' %}" alt="Profile Image">
                {% endif %}
            </div>
            <div class="profiledata">
                <h1><a href="{% url 'userac:user_profile' profile.user %}">{{ profile.user }}</a> 
                    {% if profile.user != request.user and profilefollowed != True %}
                        <a class="edit" href="{% url 'userac:follow' profile.user %}">Follow</a>
                    {% elif profile.user != request.user and profilefollowed %}
                        <a class="edit" href="{% url 'userac:follow' profile.user %}">Unfollow</a>
                    {% else %}
                        <a class="edit" href="#">Edit</a>
                    {% endif %}
                </h1>
                <p>{{ totalpost}} posts <span class="followers"><a href="{% url 'userac:show_follower' profile.user %}">{{ follower }} followers</a></span><a href="{% url 'userac:user_profile' profile.user %}">{{ followed }} following</a></p>
                <h3 class="username">{{ profile.user.first_name }} {{ profile.user.last_name }}</h3>
                <p class="profilebio">{{ profile.bio }}</p>
            </div>
        </section>
        <section class="following">
            {% for flw in followings %}
            {% for prf in allprofiles %}
            {% if flw == prf.user %}
            <div class="profile">
                <div class="names">
                    <div class="dp">
                        {% if prf.userimg %}
                            <img src="{{ prf.userimg.url }}" alt="Profile Image">
                        {% else %}
                            <img src="{% static 'userac/images/profile.png' %}" alt="Profile Image">
                        {% endif %}
                    </div>
                    <h1>{{ flw.username }}<br><span>{{ flw.first_name }} {{flw.last_name }}</span></h1>    
                </div>
                <a href="{% url 'userac:follow' flw %}" class="delbtn">Unfollow</a>
            </div>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </section>
    </main>
{% endblock body %}